<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>639427864494-6f4ecp3jsc1v1f1epkodf66cj161k0u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639427864494-6f4ecp3jsc1v1f1epkodf66cj161k0u9</string>
	<key>API_KEY</key>
	<string>AIzaSyAnIZiMab0B3_DCOi1O3EwNGdELthFdU84</string>
	<key>GCM_SENDER_ID</key>
	<string>639427864494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocRsvp</string>
	<key>PROJECT_ID</key>
	<string>bloc-rsvp</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-rsvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639427864494:ios:be0f72f7bd793b1a</string>
	<key>DATABASE_URL</key>
	<string>https://bloc-rsvp.firebaseio.com</string>
</dict>
</plist>